/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3/border-radius";

// Body
body {
	padding-top: 80px;
}

// Logo
.navbar-brand-logo {
	padding: 13px 25px;
}

// Maps
#map-canvas {
	height: 200px;
	margin-top: 4em;
	margin-bottom: 1em;
	@include border-radius(4px);
}

.white-well {
	background-color: #ffffff;
}

.logo-box {
	@include border-radius(4px);
	box-sizing: border-box;
	background-color: #ffffff;
	padding: 1em;
	margin: 1em;
}

.avatar {
	width: 60px;
	height: 60px;
	@include border-radius(4px);
	// border: 4px white solid;
}

// Feed
.feed-item {
	
	background-color: #ecf0f1;
	margin-bottom: 2em;
	padding: 1em;
	
	&.half {
		@include border-bottom-radius(6px);
		padding-top: 1em;
	}
	
	&.complete {
		@include border-radius(6px);
	}
	
	.username {
		color: #00ba73;
	}
	
	p {
		color: #373737;
		font-weight: 500;
	}
	
	.description {
		color: #929292;
	}
}

.feed-image {
	@include border-top-radius(6px);
}

.img-action {
	width: 100%;
	height: 300px;
	background-size: cover;
}

// Publish
.area-handle {
	width: 100%;
}

.area-info {
	width: 50%;
	display: inline-block !important;
    vertical-align: middle !important;
}

.area-publish {
	width: 50%;
	display: inline-block !important;
	vertical-align: middle !important;
}

// Forms
.form-group.latest {
	margin-bottom: 0;
}

// Showcase
.shop-item {
	width: 200px;
	height: 200px;
	display: inline-block;
	box-sizing: border-box;
	
	margin-right: 1em;
	
	@include border-radius(6px);
	
	background-color: #ecf0f1;
	margin-bottom: 2em;
	padding: 1em;
}